.link-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(25, 211, 0);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.link-container:hover {
    background-color: rgb(18, 153, 0)
}
